@import 'variables';
@import '../../scss/filters-extends';

.btn {
  @extend %filters-item-ui;
  @extend %filters-item-size;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $background-color-tertiary;
  }
}

.active {
  background-color: $background-color-tertiary;
}
