$font-size-movie-title: 1.8rem;
$font-size-movie-title--l: 1.6rem;
$font-size-movie-title--m: 1.3rem;
$font-size-movie-content: 1.5rem;
$font-size-movie-content--l: 1.3rem;
$font-size-movie-content--m: 1.2rem;
$font-size-movie-label--l: 1.4rem;
$font-size-movie-label--m: 1.2rem;

$background-color-moviePattern: rgba(75, 75, 75, 0.3);

$color-movieLink-kinopoisk: #ec8200;
$color-movieLink-kinopoisk--hover: #ffad48;
$color-movieLink-imdb: #f6c700;
$color-movieLink-imdb--hover: #ffe46d;
