$font-size-pagination-arrow: 3rem;
$font-size-pagination-arrow--t: 2.5rem;

$color-navpage--hover: rgb(194, 194, 194);
$background-color-navpage--active: rgba(156, 131, 54, 0.8);
$border-radius-navpage: 50%;
