$font-size-pagination-arrow: 3rem;
$font-size-pagination-arrow--t: 2.5rem;
$font-size-pagination-arrow--t-sm: 2rem;

$color-navPage: #fff;
$color-navPage--hover: rgb(194, 194, 194);
$background-color-navPageItem--active: rgba(156, 131, 54, 0.8);
$border-radius-navPage: 50%;

$background-color-input--focus: rgb(224, 222, 198);
$background-color-btn--disabled: #878787;
