@import 'mixins';

%line {
  width: 100%;
  height: 0.2rem;
  background-color: $background-color-tertiary;
  transition: transform 0.2s ease;
}

.btn {
  width: 3rem;
  height: 2rem;
  cursor: pointer;
  position: relative;

  @include mobile() {
    width: 2.4rem;
  }

  &::before,
  &::after {
    @extend %line;
    content: '';
    position: absolute;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    left: 0;
  }
}

.line {
  @extend %line;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.active {
  .line,
  &::before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  &::after {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }
}
