@import 'variables';

.navlink {
  color: $font-color-navlink;
  transition: color 0.2s ease;
  position: relative;

  &:hover {
    color: $font-color-main;
  }
}

.active {
  color: $font-color-main;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.15rem;
    background-color: #fff;
    bottom: -20%;
    left: 0;
  }
}
