// Fonts
$font-family: 'Montserrat', sans-serif;

$font-html: 10px;
$font-size-main: 1.6rem;
$font-size-main--l: 1.5rem;
$font-size-main--t: 1.4rem;
$font-size-main--m: 1.3rem;
$font-size-logo: 5rem;
$font-size-logo--l: 3.8rem;
$font-size-logo--t: 3rem;
$font-size-logo--m: 2rem;
$font-size-footer: 2rem;
$font-size-footer--t: 1.6rem;
$font-size-error: 1.95rem;

$font-color-main: #fff;
$font-color-secondary: #1f1f1f;

$font-weight: (
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semiBold': 600,
  'bold': 700,
  'extraBold': 800,
);

@function weight($weight) {
  @return map-get($font-weight, $weight);
}

// UI
$background-page:
  conic-gradient(
    at 0% 30%,
    rgba(97, 83, 83, 0.8) 10%,
    rgba(150, 150, 119, 0.8) 30%,
    hsla(208, 9%, 41%, 0.8) 50%
  ),
  top left / contain repeat url('@assets/bg-image.webp');

$color-loadingSpinner: #fff;

$background-color-main: #1f1f1f;
$background-color-secondary: #4b4b4b;
$background-color-tertiary: #fff;
$background-color-fourth: #784949;
$background-color-fourth--hover: lighten($background-color-fourth, 5);

$background-color-backdrop: rgba(0, 0, 0, 0.75);

$border-radius-rounded: 1.5rem;

// media
$breakpoint-xl: 1320px;
$breakpoint-l: 1180px;
$breakpoint-md-1: 1024px;
$breakpoint-md-2: 660px;
$breakpoint-sm-1: 520px;
$breakpoint-sm-2: 360px;
